[submodule "third_party/kvcache-ops"]
	path = third_party/kvcache-ops
	url = https://atomgit.com/openeuler/kvcache-ops.git

[submodule "third_party/hcomm"]
	path = third_party/hcomm
	url = https://gitcode.com/cann/hcomm.git
